{
    // bot token
    token="Discord_bot_TOKEN"
    // bot status
    activity='!help'
    acttype=PLAYING
    status=idel
    // command
    prefix='!'

 // console = private channel 
 // text channel = send channel
    // lobby file // text channelId
    // join messege / left message
    lobby=000000000000000000
    // join, left console message
    jlcl=000000000000000000

    // voice file // text channelId
    // console channelId 
    vcl=000000000000000000
}