{
    // bot token
    token=
    // bot status
    activity='!help'
    acttype=PLAYING
    // command
    prefix='!'
    
    // lobby file // text channelId
    // join messege / left message
    lobby=000000000000000000
    // join, left console message
    console=000000000000000000
}